@import url('https://fonts.googleapis.com/css?family=PT+Sans');/*Myraid Pro substitute*/
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    background: url(../img/recycleBackground.png) no-repeat fixed;
    background-size: cover;
}

body {
    font-family: 'PT Sans', 'Lato';
}

.navbar {
    padding-top: 5px;
}

h1 {
    font-size: 30pt;
}

.homepage-logo {
    font-size: 1.125em;
    background: #ffffff;
    width: 112px;
    height: 50px;
    margin: 10px;
    text-align: center;
    display: table;
}

.homepage-logo> span {
    vertical-align: middle;
    display: table-cell;
}

.links {
    font-size: 0.875em;
}

.links> .href {
    font-size: 0.875em;
    text-decoration: none;
    margin-left: 22px;
}

.hero-text {
    text-align: center;
    margin-top: -20px;
    font-size: 1.875em;
    color: #ffffff;
}

/*FOOTER contents*/
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    display: block;
    margin-bottom: ;
}

.remove-option {
    display: none;
}

.homepage-email-address {
    width: 255px;
    height: 51px;
    border-radius: 5px;
    border: solid 2px;
}

form> select {
    width: 255px;
    height: 51px;
    border-radius: 5px;
}

.homepage-form {
    text-align: center;
    margin: 5px;
}

.align-center {
    text-align: center;
}

input[type="email"], select {
    background-color: #004b8e;
    border-color: #004b8e;
    color: #4d7abc;
}

input[type="email"].homepage-email-address::-webkit-input-placeholder {
    color: #4d7abc;
}

.homepage-form> select {
    width: 261px;
    height: 60px;
    border-radius: 5px;
    border: solid 2px;
}

.form-submit {
    width: 261px;
    height: 51px;
    border-radius: 5px;
    border: solid white 2px;
    background-color: #ffffff;
}

input[type=checkbox] {
    /*display: none;*/
}

input[type=checkbox]:checked {
    background: #0080FF;
    /*display: inline-block;*/
    padding: 0 0 0 0px;
}

.homepage-checkbox {
    /*margin-top: 22px;*/
    color: #ffffff;
}

.checkbox-text {
    margin-left: 40px;
    color: #ffffff;
}

.statistics-wrapper {
    text-align: center;
}

.homepage-leaderboard {
    text-transform: uppercase;
}

.leaderboard {
    list-style: none;
}

.district-wrapper {
    display: block;
    float: left;
    clear: left;
}

.bar1 {
    width: 20px;
    height: 20px;
}

.statistics-wrapper {
    margin-top: 40px;
}

.pledges-wrapper{
    vertical-align: middle;
}

.information-icon{
    padding: 20px;


    float: right;

    font-size: 0.5em;
    height: 100%;

    height: 20px;
    width: 20px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
