@import url('https://fonts.googleapis.com/css?family=PT+Sans');/*Myraid Pro substitute*/
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    background: url(../img/recycleBackground.png) no-repeat fixed;
    background-size: cover;
}

body {
    font-family: 'PT Sans', 'Lato';
}

.navbar{
    padding-top: 5px;
}

h1 {
    font-size: 30pt;
}

.homepage-logo {
    font-size: 18pt;
    background: #ffffff;
    width: 112px;
    height: 50px;
    margin: 10px;
    text-align: center;
    display: table;
}

.homepage-logo > span {
    vertical-align:middle;
    display: table-cell;
}

.links {
    font-size: 14pt;
}

.links > .href {
    font-size: 14pt;
    text-decoration: none;
    margin-left: 22px;

}

.hero-text {
    text-align: center;
    margin-top: -20px;
    font-size: 30pt;
    color: #ffffff;
}

.hero-text> span {
    display: block;
    color: inherit;
}


/*FOOTER contents*/
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    display: block;
    margin-bottom: ;


}


.remove-option {
    display: none;
}

.homepage-email-address{
    width: 255px;
    height: 51px;
    border-radius: 5px;
    border: solid 2px;
}

form > select {
    width: 255px;
    height: 51px;
    border-radius: 5px;
}

.homepage-checkbox{
    color: #ffffff;
}

.homepage-form{
    text-align: center;
    margin: 5px;
}

.align-center{
    text-align: center;
}

input[type="email"],
select
{
    background-color: #004b8e;
    border-color: #004b8e;
    color: #4d7abc;
 }

input[type="email"].homepage-email-address::-webkit-input-placeholder {
   color: #4d7abc;

}

.homepage-form > select {
    width: 261px;
    height: 60px;
    border-radius: 5px;
    border: solid 2px;
}

.form-submit{
    width: 261px;
    height: 51px;
    border-radius: 5px;
    border: solid white 2px;
    background-color: #ffffff;
}

.homepage-checkbox{
    margin-top: 22px;

}

.checkbox-text{
    margin-left: 40px;
}

.statistics-wrapper{
    text-align: center;
    
}
